* @MCMNORTH @Houleye48 @Aminewavi31m @AISSATABA3664 @HawaHamidouSy @HawaBa05

/.github/ @MCMNORTH @Houleye48 @Aminewavi31m @AISSATABA3664 @HawaHamidouSy @HawaBa05
/app/ @MCMNORTH @Houleye48 @Aminewavi31m @AISSATABA3664 @HawaHamidouSy @HawaBa05
/database/ @MCMNORTH @Houleye48 @Aminewavi31m @AISSATABA3664 @HawaHamidouSy @HawaBa05
/routes/ @MCMNORTH @Houleye48 @Aminewavi31m @AISSATABA3664 @HawaHamidouSy @HawaBa05
