# dépendances
/node_modules

# Next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# tests
/coverage
/test-results/
/playwright-report/

# environnement et secrets
.env
.env*.local
.vercel

# divers
.DS_Store
npm-debug.log*
*.sqlite
